<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Fragment>

		<!-- Product Components -->
		<ComponentGroup Id="ProductComponents">

			<!-- Shortcut -->
			<ComponentRef Id="MainAppShortcut" />

		</ComponentGroup>

		<!-- Installed files -->
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\bin\$(var.Configuration)\net6.0-windows10.0.17763.0\">

			<!-- Shortcut to main application -->
			<Component Id="MainAppShortcut" Guid="{0995664D-AE63-4DD6-B894-708A99611370}">

				<Shortcut Id="MainAppShortcut" Name="!(loc.ProductName)" Target="[INSTALLFOLDER]Spark.exe" Directory="InstallProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" />

				<!-- Our unique key for this component/shortcut -->
				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

				<!--Remove start menu items -->
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />

			</Component>

		</DirectoryRef>

	</Fragment>


</Wix>
